# Ignore artifacts:
node_modules
.next
.vercel
coverage

# Ignore lock files:
package-lock.json
pnpm-lock.yaml
yarn.lock

# Ignore other configuration files if managed elsewhere or to avoid conflicts
# .eslintrc.json (if you prefer ESLint to handle all linting including some formatting aspects not covered by Prettier integration) 